.refpage{
    width: 50%;
    margin: auto;
}
.ref-ing-item{
    font-size: 2vh;
    width: 80%;
    margin: 2% auto 2% auto;
    height: 100%;
    display: flex;
    justify-content: center;
}
.ref-ing-name{
    width: 40%;
}
.ref-ing-amount{
    width: 20% !important;
}
.ref-ing-unit{
    width: 25%;
}
.ref-tool-item{
    font-size: 2vh;
    width: 100%;
    justify-content: center;
    margin: 2% auto 2% auto;
    height: 100%;
    display: flex;
}
.ref-tool-name{
  width: 60%;
}

@media only screen and (max-width: 600px) {
    .refpage {
      width: 90%;
    }
    .ref-ing-item{
        font-size: 3vw;
        width: 100%;
    }
}

.button-28 {
  background-color: #E55934  !important;
  border: 3px solid #E55934 !important;
  color: white !important;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin: 2% 2% 2% 2%;
  text-align: center;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  touch-action: manipulation;
  will-change: transform;

}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #E55934 !important;
  background-color: transparent !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.button-28:active {
  box-shadow: none;
}

.button-28-green {
    background-color: #2bbc3e !important;
    border: 3px solid #2bbc3e !important;
    box-sizing: border-box;
    color: white !important;
    min-height: 60px;
    max-width: 40%;
    outline: none;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    touch-action: manipulation;
    width: 100% !important;
    will-change: transform;
  }
  
.button-28-green:disabled {
    pointer-events: none;
  }
  
.button-28-green:hover {
    color: #2bbc3e !important;
    background-color: transparent !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  }
  
.button-28-green:active {
    box-shadow: none;
}

.submit-button-section{
    padding: 10%;
    display: flex;
    justify-content: center;
}

.ref-page-ingredient-tab{
    font-size: 1em;
    color: black !important;
}

.button-28-red {
    background-color: #dd2020 !important;
    border: 3px solid #dd2020 !important;
    box-sizing: border-box;
    color: white !important;
    min-height: 60px;
    max-width: 40%;
    outline: none;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    touch-action: manipulation;
    width: 100% !important;
    will-change: transform;
  }
  
.button-28-red:disabled {
    pointer-events: none;
  }
  
.button-28-red:hover {
    color: #dd2020 !important;
    background-color: transparent !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  }
  
.button-28-red:active {
    box-shadow: none;
  }

.modal-footer{
  justify-content: center !important;
}

.modal-body{
  text-align: center !important;
}

.ref-page-form-box{
  display:flex;
}

.tab-content{
  justify-content: center !important;
  overflow-y: scroll;
}