.formbox {
  width: 576px;
  max-width: 95%;
  background-color: #f0ac9a;
  border-radius: 10px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.text-sm {
  font-size: 0.8rem;
}

#forget-password {
  cursor: pointer;
  text-decoration: none;
}

#forget-password:hover {
  text-decoration: underline;
}
.color-nav {
  background-color: #4a7c59;
}

.offcanvas-violet {
  background-color: #554971;
  color: #ffff;
}

.offcanvas-foot {
  background-color: #2b271f;
  color: #ffff;
  display: flex;
  justify-content: center !important;
}

.containoff {
  width: 20%;
}

.profilepic {
  border-radius: 50%;
  margin-right: 1rem;
}

.featurebutton {
  width: 30%;
  background-color: #554971 !important;
  color: #fff !important;
  border-color: #554971 !important;
  margin: 0.25em;
  font-size: 20px !important;
}

.feature-active {
  background-color: #36213e !important;
  color: #f8be28 !important;
  border-color: #36213e !important;
}

.common-home {
  width: 576px;
  max-width: 95%;
  flex-wrap: nowrap;
}

.err-box {
  color: #fff;
  font-size: 0.8rem;
  background-color: #ff5a5a;
  border-radius: 5px;
}

.normal-search-btn {
  background-color: #4a7c59 !important;
  color: #ffff !important;
  border-color: #4a7c59 !important;
}

.larger-form {
  height: 4rem !important;
  resize: none !important;
}

.ref-page-form-box {
  max-width: 60%;
  margin-top: 5% !important;
  justify-content: center;
  margin-bottom: 5% !important;
  margin: auto;
}

.ref-page-ingredient-tab {
  color: black !important;
  font-size: 18px;
}
.ref-ing-item {
  display: flex;
}

.ref-page-dropdown-box{
  display: flex;
  justify-content: center;
  flex: content;
  max-height: 5%;
}

.ref-ing-card-ing-name {
  width: 60%;
}

.ref-ing-card-ing-amount {
  width: 20%;
}

.tab-content {
  padding: 5%;
  font-size: 3vw;
}

.add-ing-item {
  display: flex;
}

.add-ing-name {
  width: 60%;
}

.add-ing-amount {
  width: 20%;
}
