.formbox {
  width: 576px;
  max-width: 95%;
  background-color: #f0ac9a;
  border-radius: 10px;
}

.flex {
  display: flex;
}

<<<<<<< HEAD
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-orange {
  background-color: #e55934;
}
