.formbox {
  width: 576px;
  max-width: 95%;
  background-color: #f0ac9a;
  border-radius: 10px;
}

.flex {
  display: flex;
}

.btn-orange {
  background-color: #e55934;
  width: 100%;
}

.text-sm {
  font-size: 0.8rem;
}

#forget-password {
  cursor: pointer;
  text-decoration: none;
}

#forget-password:hover {
  text-decoration: underline;
}
